@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  /*Todas las secciones son relativas y ocupan todo el ancho en relacion al body*/
  /*Asignacion de fuentes en general para h y p, algunas se sobreescribirán para cumplir con el diseño*/
  /*los botones son similares, propiedades generales y hover, asignaciones particulares en queries*/
  /*seccion de episodios, posicionamiento general*/
  /*Seccion de novedades posicionamento general*/ }
  body section {
    position: relative;
    width: 100%; }
  body h1, body h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    position: relative; }
    body h1 span, body h2 span {
      position: relative;
      text-decoration-line: line-through; }
    body h1 #dot, body h2 #dot {
      color: #0000EC;
      text-decoration-line: none; }
  body h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    color: #060A24; }
  body p {
    margin-top: 1em;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 0.875em;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px; }
  body .hello .desk {
    display: none; }
  body .hello .mobile {
    display: none; }
  body .boton {
    background: #00F3BB;
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    border: 0; }
    body .boton:hover {
      background: linear-gradient(225deg, #0000FF 0%, #00F0B8 100%);
      color: #FFFFFF; }
  body .episodios {
    width: 100%;
    margin-top: 24px;
    display: flex;
    box-sizing: content-box; }
    body .episodios h2 {
      top: 1em;
      padding-bottom: 0.5em;
      position: relative;
      margin-top: 5vw;
      color: #FFFFFF;
      line-height: 42px; }
    body .episodios iframe {
      top: 1.5em;
      padding-bottom: 11px;
      position: relative;
      margin: auto;
      border: none;
      height: 232px; }
  body .novedades {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0; }
    body .novedades h2 {
      align-self: center;
      width: 80%;
      letter-spacing: 0;
      text-align: center;
      line-height: 42px;
      color: #FFFFFF; }
    body .novedades button {
      align-self: center;
      margin-top: 36px;
      margin-bottom: 67px; }

/*Seccion Footer para redes sociales, asignacion de fuentes, colores y posicionamiento general*/
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #FFFFFF; }
  footer a {
    color: #060A24; }
  footer h4 {
    font-family: "IBM Plex Mono", monospace;
    color: #060A24; }

@media (max-width: 800px) {
  /*query para pantallas hasta 800px*/
  body {
    box-sizing: content-box; }
    body header {
      width: 100%;
      height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      body header .logo {
        margin-left: 5%; }
      body header .burguer {
        width: 18px;
        height: 12px;
        margin-right: 5%; }
        body header .burguer .ham #cross {
          display: none; }
      body header #hamburguesa {
        display: none; }
      body header #menu {
        display: none;
        position: absolute;
        text-align: left;
        list-style: none;
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        width: 100%;
        height: 224px;
        background-color: #0000EC;
        z-index: 1; }
        body header #menu li a {
          margin-left: 5%;
          color: #FFFFFF; }
        body header #menu li:hover a {
          color: #00F3BB;
          text-decoration-line: line-through; }
        body header #menu li:active a {
          color: rgba(6, 10, 36, 0.56);
          text-decoration-line: line-through; }
      body header ​
      #menu li a {
        display: block; }
      body header #hamburguesa:checked + #menu {
        position: absolute;
        width: 100%;
        top: 44px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      body header #hamburguesa:checked ~ .ham #bars {
        display: none; }
      body header #hamburguesa:checked ~ .ham #cross {
        display: block; }
    body .hello {
      display: flex;
      flex-direction: column;
      width: 100%; }
      body .hello .mobile {
        display: block; }
      body .hello h1 {
        margin-left: 5%; }
      body .hello p {
        margin-left: 5%;
        margin-top: 16px;
        width: 90%;
        font-size: 14px; }
      body .hello button {
        margin-top: 36px;
        margin-left: 5%;
        width: 90%; }
    body .episodios {
      margin: 0;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 8em;
      margin-top: 24px;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%); }
      body .episodios h2 {
        margin-left: 5%; }
      body .episodios iframe {
        width: 90%; }
    body .boton {
      width: 100%;
      height: 48px; }
    body .history {
      display: flex;
      flex-direction: column;
      margin-top: -6em;
      margin-bottom: 54px; }
      body .history img {
        position: relative;
        max-width: 100%; }
      body .history h2 {
        width: 90%;
        margin: auto;
        margin-bottom: 8px; }
      body .history p {
        margin-top: 0;
        margin-left: 5%;
        width: 90%; }
    body .guess {
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 48px; }
      body .guess h2 {
        margin-left: 5%;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 14px; }
      body .guess img {
        float: left;
        width: 100%; }
    body .temas {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      body .temas h2 {
        margin-left: 5%;
        text-align: left;
        margin-bottom: 1em; }
      body .temas h3 {
        font-weight: 600;
        font-size: 24px;
        margin-top: 13px;
        margin-bottom: 2em; }
        body .temas h3 .change {
          display: none; }
    body .novedades {
      padding-top: 64px;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
      body .novedades button {
        width: 80%; }
    body footer {
      height: 121px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      body footer h4 {
        text-align: center;
        font-weight: 200; }
      body footer div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        body footer div a {
          margin-bottom: 1em; } }
@media (min-width: 801px) {
  #wrd {
    display: none; }

  body header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    body header img {
      height: 36px;
      width: 36px; }
    body header nav #menu {
      position: relative;
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      body header nav #menu li {
        margin-left: 48px;
        background-color: #FFFFFF;
        list-style: none; }
        body header nav #menu li:hover a {
          color: #00F3BB;
          text-decoration-line: line-through; }
        body header nav #menu li:active a {
          color: rgba(6, 10, 36, 0.56);
          text-decoration-line: line-through; }
        body header nav #menu li a {
          font-family: "IBM Plex Mono", monospace; }
    body header .burguer i, body header input {
      display: none; }
  body .hello .desk {
    display: block; }
  body .hello h1 {
    margin-top: 120px;
    margin-left: 14%;
    font-size: 4em; }
  body .hello p {
    width: auto;
    font-size: 1em;
    margin-top: 0;
    margin-left: 14%; }
  body .hello button {
    margin-top: 56px;
    margin-left: 14%;
    width: 226px;
    height: 56px; }
  body .episodios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 13em;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%); }
    body .episodios h2 {
      width: 100%;
      margin-left: 14%; }
    body .episodios iframe {
      width: 40.6%; }
  body .history {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 14%;
    margin-top: -9em;
    justify-content: center; }
    body .history img {
      height: 660px;
      margin-right: 62.4px;
      float: right; }
    body .history div {
      width: 50%; }
    body .history .text {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    body .history h2, body .history p {
      width: 60%;
      margin-top: 6.5%;
      letter-spacing: 0;
      text-align: left;
      line-height: 24px; }
  body .guess {
    overflow: hidden; }
    body .guess h2 {
      margin-top: 1em;
      margin-left: 14%;
      width: 100%;
      margin-bottom: 0.5em; }
    body .guess img {
      float: left;
      width: 33.3%; }
  body .temas {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    box-sizing: content-box; }
    body .temas h2 {
      margin-left: 14%; }
    body .temas .themes {
      width: 80%;
      margin-top: 56px;
      display: flex;
      align-self: center;
      flex-direction: row;
      justify-content: space-between; }
      body .temas .themes div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .temas .themes div h3 {
          text-align: center;
          margin-top: 29px;
          margin-bottom: 1em; }
  body .novedades {
    box-sizing: content-box;
    padding-top: 64px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%); }
    body .novedades h2 {
      margin-top: 2em; }
    body .novedades button {
      width: 345px;
      height: 56px; }
  body footer {
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    body footer h4 {
      margin-left: 7%;
      font-style: "IBM Plex Mono", monospace;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 28px; }
    body footer div {
      margin-right: 7%; }
      body footer div i {
        font-size: 18px;
        margin-left: 36px; } }

/*# sourceMappingURL=style.css.map */
