$color-one: #FFFFFF;
$color-two: #0000FF;
$color-three: #0000A3;
$button-color: #00F3BB;
$text-color: #060A24;
$font-ibmPlexSans:'IBM Plex Sans', sans-serif;
$font-ibmPlexMono: "IBM Plex Mono", monospace;